# --- DATA & HUGE FILES---
analytics-engine/data/*.csv
analytics-engine/data/*.json
*.zip
*.7z

# --- PYTHON (analytics-engine) ---
venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.vscode/
.idea/

# --- .NET (backend & tests) ---
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docattachments
.vs/
*.userprefs
*.suo
backend/*/appsettings.Development.json

# --- REACT (frontend) ---
frontend/node_modules/
frontend/dist/
frontend/build/
.eslintcache
*.log
frontend/.env.local
frontend/.env.development.local

# --- OS / IDE ---
.DS_Store
Thumbs.db
.idea/
.vscode/